body {
    color: #333;
    font: 10.6px "Helvetica", "Lucida Grande", "Microsoft YaHei", sans-serif;
    position: relative;
    margin: 0;
}

/*使图片大小和父容器大小相同*/

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666;
}

/*设置页面高度*/
#globalHeader {
    height: 70px;
    width: 100%;
}

#globalHeader .headerWrap {
    width: 90%;
    margin: 0 auto;
    /*设置该属性,使子元素绝对定位生效*/
    position: relative;
    max-width: 1024px;
}

/*logo定位*/
#siteName {
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    width: 130px;
}

#siteName a {
    padding: 15px 0;
    display: block;
    line-height: 1;
}

/*列表*/
#globalHeader .wrapper {
    /*导航菜单偏移量*/
    padding-left: 15%;
    margin: 0;
}

/*列表菜单项的具体设置  布局 水平排列*/

#globalHeader .wrapper li {
    float: left;
    font-size: 13px;
    padding: 28px 10px;
    line-height: 1;
}

#hGlobalNav a:hover {
    opacity: 0.7;
}

#main section {
    width: 100%;
    margin-bottom: 40px;
}

/*width的设置是为了缩放屏幕时图片也缩放*/

.wrap {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

/*图片大小与父元素相同*/

#mainCampaign .mainPanel, #mainCampaign .mainPanel img {
    width: 100%;
    display: block;
    max-width: 1024px;
    /*父元素适应图片高度*/

    height: auto;
    position: relative;
}

/*并列的四张图片,设置边距,按水平线排列*/
#main ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

/*使元素水平排列 ,并具有响应宽度和高度*/

#mainCampaign .fourPanels li {
    width: 23.5%;
    max-width: 245px;
    height: auto;
}

#mainCampaign ul li {
    margin-bottom: 20px;
    margin: 20px 2% 0 0;
}

/*解决图片不能并列的问题,去掉右外边距*/
#mainCampaign ul li:last-child {
    margin-right: 0;
}

#mainCampaign li a {
    display: block;
    padding: 0;
    min-height: 60px;
    position: relative;
}

#mainCampaign .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    font-weight: bold;
    width: 90%;
    color: #fff;
}

/* 更多 */
#mainCampaign .more {
    margin-top: 0;
}

.more {
    font-size: 14px;
    position: relative;
    padding-right: 20px;
    text-align: right;
    width: 90%;
    max-width: 1024px;
    margin: -38px auto 1em;
}

/*小箭头*/
.more a::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 7px;
    height: 7px;
    margin: -5px -5px 0 0;
    border-top: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
    transform: rotate(45deg);
    content: "";
}

#main h1 {
    font-size: 18px;
    margin: 0 auto 1em;
    line-height: 1;
    color: #333;
    width: 90%;
    max-width: 1024px;
}

#main #product li {
    margin: 0 2% 5px 0;
    width: 15%;
    box-sizing: border-box;
    font-size: 12px;
    padding-right: 2px;
    background-size: auto 40px;
    background-repeat: no-repeat;

    /*定义背景图起始位置*/
    background-position: 8px center;
}

/*让元素并列*/

#main #product li:nth-child(6n) {
    margin-right: 0;
}

#main #product li a {
    display: block;
    padding: 0 2px 0 55px;
    /*改变默认大小*/
    position: relative;
    min-height: 60px;
}

#main #product li span {
    position: absolute;
    top: 40%;
}

#lab li {
    width: 32%;
    height: auto;
    margin-right: 2%;
    position: relative;
    box-sizing: border-box;
}

#lab li a {
    display: block;
    padding: 0;
    min-height: 60px;
    position: relative;
}

#lab li:last-child {
    margin-right: 0;
}

/*图片文字*/

#lab li .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    font-weight: bold;
    width: 90%;
    color: #fff;
}

#misc {
    padding: 15px 0;
    background: #ebebeb;
    display: block;
}

#misc .content {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
    display: block;
}

#misc ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

#misc li {
    float: left;
    margin-right: 10px;
}

#misc a {
    display: block;
}

#misc a img {
    height: 25px;
    width: auto;
    vertical-align: middle;
}

#misc .passport {
    float: right;
}

#Misc .passport a img {
    height: 25px;
    padding-left: 10px;
    width: auto;
}

/*为解决父元素高度塌陷, 清除子元素浮动影响*/

#misc::after, #misc ul::after {
    content: "";
    display: block;
    clear: both;
}
